<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Goonies</title>
    <!--Imported Font-->
    <link href="//db.onlinewebfonts.com/c/fa1c6621d4cbdfc1ff78931f8a770f02?family=Goonies" rel="stylesheet" type="text/css"/>
    <!--My CSS-->
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
</head>
<body class="bg-dark">
<div class="container">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">The Goondocks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cast">Cast</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/production">Production</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/music">Music</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/reception">Reception</a>
            </li>

        </ul>
    </div>
</nav>
<div class="jumbotron bgimg intro">

    <h1 class="display-4 welcome">Welcome</h1>

    <p class="lead"><b>This is my fan site for the<br>Steven Speilberg classic,</b><br><b class="welcome">"The Goonies"</b></p>

</div>

<div class="row marketing">
    <div class="col-lg-6">
        <img class="img-fluid" src="https://res.cloudinary.com/jivesolid/image/upload/v1550764277/the-goonies-movie-poster-1985-1020189654.jpg" alt="Goonies Poster"/>
    </div>
    <div class="col-lg-6 ">
        <p class="bodytext"><b>The Goonies</b> is a 1985 American adventure comedy film directed by Richard Donner, who produced with Harvey Bernhard. The screenplay was written by Chris Columbus from a story by executive producer Steven Spielberg. A band of kids who live in the "Goon Docks" neighborhood of Astoria, Oregon, attempt to save their homes from demolition and in doing so, discover an old Spanish map that leads them on an adventure to unearth the long-lost fortune of One-Eyed Willy, a legendary 17th-century pirate. During the entire adventure, they are chased by a family of criminals, who want the treasure for themselves.
            Warner Bros. released it on June 7, 1985, in the United States. The film grossed $61.5 million worldwide and has become a cult film.
            In 2017, the film was selected for preservation in the United States National Film Registry by the Library of Congress as being "culturally, historically, or aesthetically significant".</p>
        <p class="bodytext">Warner Bros. released the film in cinemas in the United States on June 7, 1985. The Goonies grossed US$9 million in its opening weekend in the US, second on the charts behind Rambo: First Blood Part II. It grossed more than US$61 million that year, placing it among the top ten highest-grossing films of 1985 in the US.
            The Goonies was first released on VHS and Betamax video in the United States in March 1986 and the LaserDisc and CED versions also debuted that year. Warner Home Video released a theatrical widescreen laserdisc on January 29, 1992. Warner Home Video released The Goonies in widescreen on Region 1 DVD on August 21, 2001. Warner Home Video released The Goonies on Blu-ray Disc in October 2008 in Europe and November 2010 in North America. The video is in 1080p high definition VC-1 and accompanied by a Dolby TrueHD soundtrack.</p>
    </div>
</div>
    <hr class="m4-4">
    <footer class="footer">
        <p>&copy; The Goondocks 2019</p>
    </footer>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</div>
</body>
</html>