<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Goonies</title>
    <!--Imported Font-->
    <link href="//db.onlinewebfonts.com/c/fa1c6621d4cbdfc1ff78931f8a770f02?family=Goonies" rel="stylesheet" type="text/css"/>
    <!--My CSS-->
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
</head>
<body class="bg-dark">
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">The Goondocks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cast">Cast</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/production">Production</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/music">Music</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reception">Reception</a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="jumbotron bgimg intro">
        <h1 class="display-4 welcome">Music</h1>

        <p class="lead">The Original Motion Picture Soundtrack/p>
    </div>
    <div class="container text-center">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/LxLhytQ67fs?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        <p class="bodytext">
            The Goonies: Original Motion Picture Soundtrack was the soundtrack album released in conjunction with the 1985 film The Goonies. The album is known primarily because it included the song "The Goonies 'R' Good Enough" by singer Cyndi Lauper, who had a cameo in the film (as herself, singing the song on TV). The album was released in LP and cassette format internationally, and a limited CD release in some countries.
            Lauper was asked by Steven Spielberg to be the musical director for the album. It was Lauper's idea to include a then-relatively unknown female group, The Bangles (the band would become better known the following year with their second album). The Bangles also had a small cameo in the video for "The Goonies 'R' Good Enough". Lauper played the song throughout her True Colors world tour, but refused to play the song from 1987 onwards until pressure from fans finally made her add the song back into her set list, beginning with her True Colors Tour in 2007 and 2008.
            Another single, "Eight Arms to Hold You" by Goon Squad, was pressed on vinyl with dance remixes and reached number one on the Billboard Hot Dance Club Play chart in 1985. The scene featuring the song (involving an octopus) was cut from the film.
        </p>
        <p class="bodytext">
            Teena Marie's contribution "14k" was released as a single and hit number ten on the R&B chart.
            REO Speedwagon's song "Wherever You're Goin' (It's Alright)" was released as a single in Europe, although it did not chart.
            In 2000, the group A New Found Glory released an EP of cover versions of songs from movies—called From the Screen to Your Stereo—which included a version of "The Goonies 'R' Good Enough".
        </p>
        <p class="bodytext">
            In 2010, an original score album was released featuring the entire film score by Dave Grusin.
        </p>
    </div>
    <hr class="m4-4">
    <footer class="footer">
        <p>&copy; The Goondocks 2019</p>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</div>
</body>
</html>